<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ClientAdmin</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- SERVLETS -->
	<servlet>
		<servlet-name>Categories</servlet-name>
		<servlet-class>controllers.CategoriesController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ads</servlet-name>
		<servlet-class>controllers.AdsController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Categories</servlet-name>
		<url-pattern>/categories</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ads</servlet-name>
		<url-pattern>/ads</url-pattern>
	</servlet-mapping>

	<!-- FILTERS -->
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
</web-app>